<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.honbab.mybatis.admin.OperMapper">
<!-- 	<resultMap type="com.web.honbab.admin.dto.AdminDTO" id="admin">
		<id property="writeNo" column="write_no" />
		<result property="title" column="title" />
	</resultMap> -->
	

</mapper>
