@charset "UTF-8";

*, a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

a:link, a:visited {
	color: rgb(34, 34, 34);
}

/*
----------------------------------
	스크롤 숨기기
----------------------------------
*/
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

.line {
	width: 900px;
	height: 1px;
	color: rgb(200, 200, 200);
}

/*
----------------------------------
    main
----------------------------------
*/
main {
	width: 1200px;
	height: 92vh;
	margin: 0 auto;
}

.title_wrap {
	width: 800px;
	height: 80px;
	padding: 30px 0 0 0;
	border-bottom: 2px solid rgb(25, 11, 223);
}

.level, .title, .writeno {
	width: fit-content;
	font-size: 28px;
	font-weight: 800;
	display: inline-block;
	color: rgba(17, 21, 226, 0.918);
	vertical-align: middle;
	font-family: "Nunito Sans", sans-serif;
}

.title {
	font-size: 29px;
	font-weight: 500;
	font-family: "Noto Sans KR", sans-serif;
	margin-bottom: 5px;
}

#slash {
	margin: 0 10px;
	font-weight: 800;
	font-family: "Nunito Sans", sans-serif;
}

.title {
	/* margin: 0 20px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#t {
	width: 650px;
	/* background-color: aliceblue; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.writer_wrap {
	width: 1200px;
	height: 250px;
}

.writer, .date {
	display: inline-block;
	padding: 10px 0;
	color: rgb(40, 40, 40);
	font-family: "Nunito Sans", sans-serif;
}

.writer {
	font-size: 19px;
	font-weight: 600;
}

.date {
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	text-align: right;
	right: 780px;
}

.like {
	font-size: 14px;
	font-weight: 500;
	font-family: "Nunito Sans", sans-serif;
	width: 200px;
	position: absolute;
	top: 380px;
}

.text-dark > img {
	cursor: pointer;
}

/* button {
	visibility: hidden;
} */

/* button>img {
	visibility: visible;
	font-size: 18px;
} */

.like button {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

#imgx>span {
	width: 100px;
	height: 250px;
	font-weight: 500px;
	font-size: 50px;
	text-align: center;
	margin: 0 auto;
	color: rgb(40, 40, 40);
}

#imgx {
	width: 350px;
	height: 250px;
	float: right;
	display: block;
	background-color: rgba(220, 220, 220, 0.5);
	padding: 10px 10px;
	font-weight: 500px;
	font-size: 50px;
	text-align: center;
	margin: auto auto;
	color: rgba(17, 21, 226, 0.918);
}


#img {
	width: 350px;
	height: 250px;
	height: auto;
	float: right;
	display: block;
	background-color: rgb(163, 163, 163);
	border-radius: 5px;
}

.empty {
	width: 1200px;
	height: 20px;
}

.content_wrap {
	width: 1200px;
	height: 400px;
	border-top: 1px solid rgb(220, 220, 220);
	margin: 0 auto;
	padding: 20px 0;
}

.text {
	/* border: 1px solid rgb(221, 221, 221);
  border-radius: 5px; */
	width: 1200px;
	height: 400px;
	float: left;
	font-size: 16px;
	font-weight: 400;
	font-family: "Noto Sans KR", sans-serif;
	line-height: 160%;
	color: rgb(34, 34, 34);
	overflow: auto;
	padding: 5px;
	/* white-space: inherit; */
	border-bottom: 1px solid rgb(220, 220, 220);
/* 	border-bottom: 1px solid rgb(200, 200, 200); */
	white-space: normal;
	word-break: break-all;
}

/*
----------------------------------
    input button
----------------------------------
*/
input[type="button" i] {
	width: 100px;
	height: 30px;
	margin: 15px 0;
	float: right;
	background-color: rgba(245, 222, 179, 0);
	outline: none;
	border: none;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	color: rgba(17, 21, 226, 0.918);
/* 	border-radius: 3px; */
/*   border: 1px solid rgba(17, 21, 226, 0.918); */
}

input[type="button" i]:hover {
	border-top: 1px solid rgba(17, 21, 226, 0.918);
	border-bottom: 1px solid rgba(17, 21, 226, 0.918);
} 

#modify_btn {
	margin-right: 20px;
}

/*
----------------------------------
    댓글
----------------------------------
*/
section {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}

.plus {
  width: 100%;
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
  margin-bottom: 20px;
  border-radius: 2px;
  /* border: 1px solid rgba(17, 21, 226, 0.918); */
}

.plus:hover {
  border-bottom: 2px solid rgba(17, 21, 226, 0.918);
}

.plus > a {
  height: 40px;
  color: rgba(17, 21, 226, 0.918);
  font-size: 20px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
}

.panel {
  height: 450px;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
}

.rep {
  height: 80px;
  padding: 10px 0;

}


.rep > span {
  color: rgb(163, 163, 163);
  line-height: 160%;
  font-family: "Nunito Sans", sans-serif;
  margin-right: 10px;
}

.re_wrap {
	width: 1200px;
	height: 70px;
	line-height: 160%;
	display: inline-block;
	border-bottom: 1px solid rgba(230, 230, 230, 0.918);
	vertical-align: middle;
}

#re {
	width: 900px;
	height: 70px;
	padding: 10px 0;	
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
	color: rgb(80, 80, 80);
}

#re, #re_del {
	display: inline-block;
}

#re_del {
	width: 100px;
	height: 20px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: right;
	float: right;
	margin-top: 25px; 
	color: rgba(80, 80, 80, 0.9);
}

input[type="text" i] {
	width: 1040px;
	height: 45px;
	outline: none;
	border: 1px solid rgba(200, 200, 200, 0.3);
}

input[type="text" i], button {
	vertical-align: middle;
}

button {
	background-color: rgba(10, 10, 10, 0);
	width: 150px;
	height: 45px;
	float: right;
	border: 1px solid rgba(200, 200, 200, 0.3);
}

button > span {
	width: 150px;
	height: 45px;
	visibility: visible;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
}
button > img {
		padding-top: 10px;
		visibility: visible;
		width: 20px;
		height: 20px;
}






