<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.honbab.mybatis.member.BizMemberMapper">

	<resultMap type="com.web.honbab.member.dto.BizMemberDTO"
		id="biz_user">
		<id property="id" column="id"></id>
		<result property="pw" column="pw"></result>
		<result property="name" column="name"></result>
		<result property="comName" column="comName"></result>
		<result property="tel" column="tel"></result>
		<result property="biznum" column="biznum"></result>
		<result property="addr" column="addr"></result>
		<result property="email" column="email"></result>
		<result property="bizFile" column="biz_File"></result>
	</resultMap>

<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ로그인 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->

	<select id="user_check" resultMap="biz_user">
		select * from BUSINES_JOIN
		where id=#{id}
	</select>

<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ회원가입 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->

	<insert id="join" parameterType="com.web.honbab.member.dto.BizMemberDTO">
		insert into BUSINES_JOIN
		values(#{biz.id}, #{biz.pw}, #{biz.name}, #{biz.comName}, #{biz.tel}, #{biz.addr}, #{biz.biznum}, #{biz.email}, #{biz.bizFile})
	</insert>

<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ마이페이지 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->

	<select id="getMember" resultMap="biz_user">
		select * from BUSINES_JOIN where
		id=#{id}
	</select>

	<update id="modifySave">
		update BUSINES_JOIN set
		pw=#{pw},
		name=#{name},
		comname=#{comName},
		tel=#{tel},
		addr=#{addr},
		biznum=#{biznum},
		email=#{email},
		biz_File=#{bizFile}
		where id=#{id}
	</update>

	<delete id="delete">
		delete from BUSINES_JOIN where id=#{id}
	</delete>

</mapper>