/*
----------------------------------
	Find all list css
----------------------------------
*/
@charset "UTF-8";

*, a {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

a:link, a:visited {
	color: rgb(34, 34, 34);
}

/*
----------------------------------
	스크롤 숨기기
----------------------------------
*/
body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera*/
}

/*
----------------------------------
    section
----------------------------------
*/
section {
	width: 1200px;
	height: 17vh;
	margin: 0 auto;
	padding: 60px 0 20px 0;
	/* background-color: aliceblue; */
}

.search {
	color: rgb(60, 60, 60);
	text-align: center;
	width: 600px;
	height: 35px;
	vertical-align: middle;
/* 	border: 1px solid rgb(25, 11, 223); */
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	background-color: rgba(230, 230, 230, 0.4);
}

.search:focus-within{
	background-color: rgba(230, 230, 230, 0);
	animation-fill-mode: forwards;
	border-radius: 3px;
	border: 1px solid rgba(17, 21, 226, 0.918);
}

select {
/* width: 150px; */
height: 34px;
padding-left: 20px;
float: left;
border: none;
font-size: 15px;
font-weight: 400;
font-family: 'Noto Sans KR', sans-serif;
background-color: rgba(40, 40, 40, 0);
}

select:focus {
	outline: none;
	border: none;
	background-color: rgba(40,40,40,0);
}

select::-ms-expand {
display: none; /* 화살표 없애기 for IE10, 11*/
}

#levelGuide {
	margin-top: 20px;
	color: rgb(40, 40, 40);
	font-size: 15px;
	font-weight: 600;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}

datalist {
	width: 30px;
}

#challengeSelect {
	width: 30px;
	height: 30px;
}

.searchKey {
	width: 340px;
	height: 30px;
}

/*
----------------------------------
    input
----------------------------------
*/
input {
	padding: 5px;
	outline: none;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}

input:focus {
	outline: none;
}

input[type="submit" i] {
	width: 60px;
	appearance: auto;
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: right;
	cursor: default;
	box-sizing: border-box;
	color: buttontext;
	padding: 4px 5px;
	border-width: 0;
	border-style: none;
	border-color: buttonborder;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
	font-size: 15px;
	font-weight: 500;
/* 	font-family: "Nunito Sans", sans-serif; */
	font-family: "Noto Sans KR", sans-serif;
	cursor: pointer;
}


/*
----------------------------------
    input button
----------------------------------
*/
input[type="button" i] {
	width: 100px;
	height: 30px;
	margin: 15px 0;
	float: right;
	background-color: rgba(245, 222, 179, 0);
	outline: none;
	border: none;
	font-size: 15px;
	font-weight: 500;
	font-family: 'Noto Sans KR', sans-serif;
	color: rgba(17, 21, 226, 0.918);
/* 	border-radius: 3px; */
/*   border: 1px solid rgba(17, 21, 226, 0.918); */
}

input[type="button" i]:hover {
	border-top: 1px solid rgba(17, 21, 226, 0.918);
	border-bottom: 1px solid rgba(17, 21, 226, 0.918);
} 


/*
----------------------------------
    main
----------------------------------
*/
main {
	width: 1200px;
	height: 75vh;
	margin: 0 auto;
}

.index_wrap {
	width: 100%;
	padding: 30px 0 10px 0;
	border-bottom: 2px solid rgb(25, 11, 223);
	color: rgb(25, 11, 223);
	font-size: 15px;
	font-weight: 600;
	font-family: "Ramabhadra", sans-serif;
}

.content_wrap {
	width: 100%;
	height: 6vh;
	/* background-color: antiquewhite; */
	padding: 20px 0 20px 0;
	color: rgb(60, 60, 60);
	font-size: 15px;
	font-weight: 400;
	font-family: "Noto Sans KR", sans-serif;
	border-bottom: 1px solid rgb(200, 200, 200);
}

.index {
	width: 1200px;
	display: inline-block;
}

li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

li>span {
	vertical-align: middle;
}

.writeNo {
	width: 70px;
	font-weight: 600;
}

.title {
	width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 20px;
}

.age {
	width: 50px;
	margin: 0 20px;
	
}

.reg {
	width: 80px;
}

.gender {
	width: 60px;
	margin: 0 20px;
}

.writer {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.date {
	width: 150px;
	float: right;
/* 	margin: 0 20px; */
	margin-left: 20px;
}

.view {
	width: 60px;
	float: right;
}

.paging {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	bottom: 60px;	
	font-weight: 400;
	font-family: 'Kumbh Sans', sans-serif;
}

.paging>a {
	width: 20px;
	margin: 0 20px;
	text-align: center;
	font-size: 16px;
}