/*
----------------------------------
	find writeForm
----------------------------------
*/
/*
 수정 11.09
*/

@charset "UTF-8";

*,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a:link,
a:visited {
  color: rgb(34, 34, 34);
}

hr {
		background: rgba(180, 180, 180, 0.7);
    height:1px;
    border:0;
}

.line {
  margin-bottom: 20px;
  width: 100px;
  height: 1px;
}

/*
----------------------------------
	스크롤 숨기기
----------------------------------
*/
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

/*
----------------------------------
    aside
----------------------------------
*/
aside {
  position: relative;
  width: 25%;
  height: 92vh;
  /* background-color: aliceblue; */
  float: left;
}
.honbab {
  width: 350px;
  padding-left: 100px;
  font-size: 45px;
  font-weight: 800;
    margin-top: 70px;
}

.text {
  width: 350px;
  padding-left: 100px;
  margin-top: 90px;
 	font-size: 12px;
	font-family: "Noto Sans KR", sans-serif;
}


/*
----------------------------------
    aside footer
----------------------------------
*/
footer {
  width: 350px;
  padding-left: 100px;
  position: absolute;
  bottom: 60px;
}

.innerfooter {
	float: left;
}

/*
----------------------------------
    main
----------------------------------
*/
main {
  width: 75%;
  height: 92vh;
  float: right;
  /* background-color: aquamarine; */
}

.main_wrap {
  width: 850px;
  margin: 0 auto;
  margin-top: 80px;
}

.text {
	display: inline-block;
	float: left;
	position: absolute;
	top: 100px;
}

.index_en {
  font-size: 15px;
  color: rgba(17, 21, 226, 0.918);
	font-weight: 600;
	font-family: "Ramabhadra", sans-serif;
}

.index_kr {
  font-size: 14px;
  font-weight: 600;
  color: rgba(17, 21, 226, 0.918);
  font-family: "Noto Sans KR", sans-serif;
}


li {
  height: 30px;
}
/* 
li > span {
  width: 200px;
}
 */
.content {
  height: 350px;
}

textarea {
  width: 700px;
  height: 330px;
  padding: 5px;
  resize: none;
  float: right;
  border-radius: 3px;
  border: 1px solid rgba(202, 202, 202, 0.527);
  background-color: rgba(240, 248, 255, 0);
  font-size: 14px;
  font-weight: 400;
  color: rgb(40, 40, 40);
  font-family: "Noto Sans KR", sans-serif;
}

textarea:focus {
  outline: none;
}

/* span,
input {
  vertical-align: middle;
} */

/* gender */
.gender {
  vertical-align: middle;
  display: inline-flex;
}

/* .g,
.btn {
  display: inline-block;
  vertical-align: middle;
} */


.btn {
  display: flex;
  justify-content: center;
  border: none;
  background-color: none;
  text-align: center;
  vertical-align: middle;
  padding: 5px 0;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 120px;
}

label {
  width: 60px;
  vertical-align: middle;
  margin-right: 15px;
}

input[type="radio" i] {
  vertical-align: middle;
  appearance: none;
  border: max(1px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  transition: border 0.3s ease-in-out;
  margin-right: 5px;
}

[type="radio"]:checked {
  border: 2px solid rgba(17, 21, 226, 0.918);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.g {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  float: right;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
}

.reg_li {
	display: flex;
}

.reg_text {
	margin-left: 100px;
}

.reg {
	width: 600px;
  height: 30px;
	display: flex;
}

.selec {
	width: 400px;
	margin-left: 120px;
}

#reg, .select {

}

select {
width: 100px;
height: 25px;
border: none;
font-size: 14px;
font-weight: 400;
font-family: 'Noto Sans KR', sans-serif;
background-color: rgba(40, 40, 40, 0);
}

select:focus {
	outline: none;
}

select:checked {
	outline: none;
}

/*
----------------------------------
    input
----------------------------------
*/
input {
  width: 700px;
  height: 30px;
  float: right;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(40, 40, 40);
  font-family: "Noto Sans KR", sans-serif;
}

input:focus {
  outline: none;
}

input[type="submit" i] {
  width: 100px;
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: right;
  cursor: default;
  box-sizing: border-box;
  color: rgba(17, 21, 226, 0.918);
  padding: 1px 6px;
  border-width: 0;
  border-style: none;
  border-color: buttonborder;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

input[type="submit" i]:hover {
  border-top: 1px solid rgba(17, 21, 226, 0.918);
  border-bottom: 1px solid rgba(17, 21, 226, 0.918);
}

input[type="button" i] {
  width: 100px;
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: right;
  cursor: default;
  box-sizing: border-box;
  color: rgba(17, 21, 226, 0.918);
  padding: 1px 6px;
  border-width: 0;
  border-style: none;
  border-color: buttonborder;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 15x;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

input[type="button" i]:hover {
  border-top: 1px solid rgba(17, 21, 226, 0.918);
  border-bottom: 1px solid rgba(17, 21, 226, 0.918);
}


input[type="file" i] {
	font-size: 14px;
  border-radius: 5px;
}


