@charset "UTF-8";

*,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.best_wrap {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
/*
----------------------------------
    header
----------------------------------
*/

.head {
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  padding: 10px 0;
  border-top: 2px solid rgba(17, 21, 226, 0.918);
  color: rgba(17, 21, 226, 0.918);
}

.eng_title {
	font-size: 26px;
	  font-family: "Nunito Sans", sans-serif;
}

.best {
  width: 300px;
  height: 350px;
  float: left;
}

/*
----------------------------------
    main
----------------------------------
*/

.main {
  width: 1200px;
  height: 450px;
  margin: 0 auto;
}

/*
----------------------------------
   ASIDE
----------------------------------
*/

aside {
  width: 300px;
  float: left;
}

.line {
  height: 61px;
  padding-top: 35px;
  border-bottom: 1px solid rgba(17, 21, 226, 0.918);
}

.text {
  padding-top: 6px;
  font-weight: 700;
  color: rgba(17, 21, 226, 0.918);
  font-family: "Noto Sans KR", sans-serif;
}

/*
----------------------------------
    section
----------------------------------
*/
section {
  width: 900px;
  float: right;
  padding-top: 30px;
}

aside {
  width: 300px;
  float: left;
}

.index {
  width: 900px;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: inline-block;
  text-align: center;
  font-size: 13px;
}

#first {
  width: 900px;
  float: right;
  font-size: 10px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  border-bottom: 1px solid rgba(17, 21, 226, 0.918);
  color: rgba(17, 21, 226, 0.918);
}

li {
  height: 30px;
  display: inline-block;
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 5px;
}

.no {
  width: 80px;
  padding: 0 15px;
  float: left;
  padding-top: 5px;
}

.title {
  width: 350px;
  margin: 0 10px;
  float: left;
}

.date {
  width: 150px;
  margin: 0 10px;
}

.writer {
  width: 150px;
}

.view {
  width: 80px;
  padding: 5px 15px 0 15px;
  float: right;
}

.more {
  cursor: pointer;
  margin: 40px 0 20px;
  width: 300px;
  float: right;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}