@charset "UTF-8";

*,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*
----------------------------------
    header
----------------------------------
*/
header {
  width: 100%;
  height: 8vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(163, 163, 163);
}

.header_wrap {
  width: 1200px;
  margin: auto auto;
  /* position: fixed; */
  background-color: rgb(255, 255, 255);
}

.logo,
.header_wrap > ul,
header li {
  display: inline-block;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  width: 100px;
}
.logo > span {
  padding: 10px 0;
  margin: 5px 0;
}

.nav {
  padding: 10px 0;
  margin: 0 auto;
}
.nav > li {
  width: 100px;
  text-align: center;
}

#logout {
  position: relative;
  padding: 10px 0;
  margin: 5px 0;
  right: 0;
  background-color: antiquewhite;
}

/* aside */
aside {
  position: relative;
  width: 30%;
  height: 92vh;
  /* background-color: aliceblue; */
  float: left;
}
.text {
  width: 350px;
  padding-left: 100px;
  margin-top: 70px;
}

.honbab {
  width: 350px;
  padding-left: 100px;
  font-size: 45px;
  font-weight: 800;
}

footer {
  width: 350px;
  padding-left: 100px;
  position: absolute;
  bottom: 100px;
}

/* main */
main {
  width: 70%;
  height: 92vh;
  float: right;
  /* background-color: aquamarine; */
}

.main_wrap {
  width: 850px;
  margin: 0 auto;
  margin-top: 70px;
}

.line {
  margin-bottom: 20px;
  width: 100px;
  height: 1px;
  color: rgb(163, 163, 163);
}

li {
  height: 30px;
}

li > span {
  width: 200px;
}

input {
  width: 700px;
  height: 30px;
  float: right;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  padding: 5px;
}

input:focus {
  outline: none;
}
.content {
  height: 350px;
}

#content {
  height: 300px;
}
textarea {
  width: 700px;
  height: 330px;
  border: none;
  resize: none;
  float: right;
  border: 1px solid rgba(202, 202, 202, 0.527);
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0);
}
textarea:focus {
  outline: none;
}

.upload_file {
  height: 200px;
}

span,
input {
  vertical-align: middle;
}
input[type="submit" i] {
  font-size: 20px;
  font-weight: 500;
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: right;
  cursor: default;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: buttontext;
  padding: 1px 6px;
  border-width: 0;
  border-style: none;
  border-color: buttonborder;
  border-image: initial;
}
