* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
}

a:link, a:visited {
	color: rgb(34, 34, 34);
}

html, body {
	height: 100%;
	scroll-snap-type: y mandatory;
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

.container {
	height: 33rem;
}

.sequence {
	margin-top: 8rem;
	height: 33rem;
}

.img-sequence {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
}

.titlehonbab {
	font-size: 15em;
	width: 100%;
	height: 7em;
	line-height: 7em;
	display: block;
	text-align: center;
}

/* ----- 로그인 회원가입 선택 ----- */
.login_join_view {
	width: 100%;
	height: 100vh;
/* 	background-color: aliceblue */
}

.login_join {
	width: 700px;
	margin: 400px auto 0 auto;
	text-align: center;
	font-weight: 600;
	font-family: "Ramabhadra", sans-serif;
}

.login_join a {
	font-size: 30px;
	font-weight: 700;
	margin: 0 100px;
	vertical-align: middle;
}
/* ------- 회원가입 보이는 ------- */
.join_view {
	width: 100%;
	height: 100vh;
}

/*
----------------------------------
    aside
----------------------------------
*/
aside {
	position: relative;
	width: 35%;
	height: 100vh;
	/* background-color: aliceblue; */
	float: left;
}

.text {
	width: 350px;
	padding-left: 100px;
	margin-top: 250px;
}

.honbab {
	width: 350px;
	padding-left: 100px;
	font-size: 45px;
	font-weight: 800;
}

input[type="submit" i] {
	font-size: 20px;
	font-weight: 500;
	appearance: auto;
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: right;
	cursor: default;
	box-sizing: border-box;
	background-color: white;
	color: buttontext;
	padding: 1px 6px;
	border-width: 0;
	border-style: none;
	border-color: buttonborder;
	border-image: initial;
}

/* .down_img {
    width: 40px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .down_img > img {
    width: 40px;
    height: auto;
  } */

/*
----------------------------------
    main 0
----------------------------------
*/
main {
	position: relative;
	width: 65%;
	height: 100vh;
	float: right;
/* 	background-color: aquamarine; */
}

.join_form_wrap {
	width: 650px;
	margin: 0 auto;
	margin-top: 250px;
}

.line {
	margin-bottom: 20px;
	width: 100px;
	height: 1px;
	color: rgb(163, 163, 163);
}

.join_form > ul  li {
	height: 50px;
	border-bottom: 1px solid rgb(200, 200, 200);

}


.index {
	width: 200px;
	font-weight: 500;
	font-family: "Ramabhadra", sans-serif;
}

input {
	width: 500px;
	height: 30px;
	float: right;
	border: none;
	background-color: rgba(200, 200, 200, 0);
		font-family: "Noto Sans KR", sans-serif;
}

input:focus {
	outline: none;
}

span, input {
	vertical-align: middle;
}

.down {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
}


/*
--------------------------------------
  2 page. 사장님 회원가입
--------------------------------------
*/
.biz_join_view {
	position: relative;
  width: 100%;
  height: 10vh;
  /* background-color: antiquewhite; */
  display: inline-block;
}

.biz_join_form {
  width: 1200px;
  height: 10vh;
  margin: 0 auto;
}

.biz_join_form > ul {
  width: 800px;
  height: 55px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
  position: relative;
}

.biz_join_form > ul li {
  display: inline-block;
  vertical-align: middle;
}

.biz_join_form > ul > li > span {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}

#biz,
#biz_email,
#biz_submit {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

#biz_email {
  padding: 0 10px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

#biz_submit {
  width: 80px;
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: right;
  cursor: default;
  box-sizing: border-box;
  color: buttontext;
  border-color: 1px solid rgba(17, 21, 226, 0.918);
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  float: right;
}

.footer {
/* 	position: absolute; */
	left: 150px;
}

.footer > a {
	cursor: pointer;
	width: 50px;
	height: 50px;
	float: right;
	margin: 20px 20px 0 20px;
}

#up {
	width: 32px;
	height: 32px;
}

