* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	list-style: none;
}

a:link, a:visited {
	color: rgb(34, 34, 34);
}

html{
	height: 100%;
	scroll-snap-type: y mandatory;
	position: relative;
    overflow-x: hidden;
}

body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	display: none;
}

.container {
	/* height: 33rem; */
}

.sequence {
	margin-top: 8rem;
	height: 33rem;
}

.img-sequence {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
}

.titlehonbab {
	font-size: 15em;
	width: 100%;
	height: 7em;
	line-height: 7em;
	display: block;
	text-align: center;
}

/* ----- 로그인 회원가입 선택 ----- */
.login_join_view {
	width: 100%;
	height: 100vh;
/* 	background-color: aliceblue */
}

.login_join {
	width: 700px;
	margin: 400px auto 0 auto;
	text-align: center;
	font-weight: 600;
	font-family: "Ramabhadra", sans-serif;
}

.login_join a {
	font-size: 30px;
	font-weight: 700;
	margin: 0 100px;
	vertical-align: middle;
}
/* ------- 회원가입 보이는 ------- */
.join_view {
	width: 100%;
	height: 100vh;
}

/*
----------------------------------
    aside
----------------------------------
*/
aside {
	position: relative;
	width: 35%;
	padding-left: 8%;
	margin-top: 250px;
	/* background-color: aliceblue; */
	float: left;
}

.text {
	width: 350px;
	padding-left: 100px;
}

.honbab {
	width: 350px;
	padding-left: 100px;
	font-size: 45px;
	font-weight: 800;
}

input[type="submit" i] {
	font-size: 20px;
	font-weight: 500;
	appearance: auto;
	user-select: none;
	white-space: pre;
	align-items: flex-start;
	text-align: right;
	cursor: default;
	box-sizing: border-box;
	background-color: white;
	color: buttontext;
	padding: 1px 6px;
	border-width: 0;
	border-style: none;
	border-color: buttonborder;
	border-image: initial;
}

/* .down_img {
    width: 40px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .down_img > img {
    width: 40px;
    height: auto;
  } */

/*
----------------------------------
    main 0
----------------------------------
*/
main {
	position: relative;
	width: 65%;
	height: 100vh;
	float: right;
/* 	background-color: aquamarine; */
}

.join_form_wrap {
	width: 650px;
	margin: 0 auto;
	margin-top: 250px;
}

.line {
	margin-bottom: 20px;
	width: 100px;
	height: 1px;
	color: rgb(163, 163, 163);
}

.join_form > ul  li {
	height: 50px;
	border-bottom: 1px solid rgb(200, 200, 200);

}


.index {
	width: 200px;
	font-weight: 500;
	font-family: "Ramabhadra", sans-serif;
}

input{
	width: 500px;
	height: 30px;
	float: right;
	border: none;
	background-color: rgba(200, 200, 200, 0);
	font-family: "Noto Sans KR", sans-serif;
}

#modyImage{
	width: 400px;
	height: 30px;
	border: none;
	background-color: rgba(200, 200, 200, 0);
	font-family: "Noto Sans KR", sans-serif;
}

.upload_file > input{
	width: 350px;
	height: 50px;
	position: relative;
	right: 150px;
}

input:focus {
	outline: none;
}

span, input {
	vertical-align: middle;
}

.down {
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
}

img#preview {
    position: relative;
    left: 450px;
}

/*
--------------------------------------
  2 page. 사장님 회원가입
--------------------------------------
*/
.biz_join_view {
	position: relative;
  width: 100%;
  height: 10vh;
  /* background-color: antiquewhite; */
  display: inline-block;
}

.biz_join_form {
  width: 1200px;
  height: 10vh;
  margin: 0 auto;
}

.biz_join_form > ul {
  width: 800px;
  height: 55px;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
  position: relative;
}

.biz_join_form > ul li {
  display: inline-block;
  vertical-align: middle;
}

.biz_join_form > ul > li > span {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}

#biz,
#biz_email,
#biz_submit {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
}

#biz_email {
  padding: 0 10px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

#biz_submit {
  width: 80px;
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: right;
  cursor: default;
  box-sizing: border-box;
  color: buttontext;
  border-color: 1px solid rgba(17, 21, 226, 0.918);
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  float: right;
}

#up {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 15%;
	bottom: 3rem;
}

/*
회원 선택
*/
.btn :not(.btn-join) {
  width: 900px;
  display: flex;
  justify-content: center;
  border: none;
  margin: 200px auto 0 auto;

  text-align: center;
  float: left;
  /* padding: 40px 20px; */
}

.btn-join {
  display: flex;
  justify-content: center;
  border: none;
  text-align: center;
  padding: 40px 20px; 
}

label {
  vertical-align: middle;
  width: fit-content;
  text-align: center;
  margin-right: 20px;
}

input[type="radio" i] {
  vertical-align: middle;
  appearance: none;
  border: max(1px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  transition: border 0.3s ease-in-out;
  float: left;
}

[type="radio"]:checked {
  border: 2px solid rgba(17, 21, 226, 0.918);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.mem {
  vertical-align: middle;
  float: right;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}



/*
주소버튼 css
*/
.callBackDiv #roadFullText{
	width: 360px;
}

.callBackDiv #FullAddrBtn{
	width: 225px;
}
