@charset "UTF-8";

*,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a:link,
a:visited {
  color: rgb(34, 34, 34);
}

hr {
	background-color: rgb(240, 240, 240);
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.line {
  margin-bottom: 20px;
  width: 100px;
  height: 1px;
  color: rgb(163, 163, 163);
}

/*
----------------------------------
    aside
----------------------------------
*/
aside {
  position: relative;
  width: 25%;
  height: 92vh;
  /* background-color: aliceblue; */
  float: left;
}

.text {
  width: 350px;
  padding-left: 100px;
  margin-top: 70px;
 	font-size: 12px;
	font-family: "Noto Sans KR", sans-serif;
}

.honbab {
  width: 350px;
  padding-left: 100px;
  font-size: 45px;
  font-weight: 800;
}

/*
----------------------------------
    aside footer
----------------------------------
*/
footer {
  width: 350px;
  padding-left: 100px;
  position: absolute;
  bottom: 60px;
}


/*
----------------------------------
    main
----------------------------------
*/
main {
  width: 75%;
  height: 92vh;
  float: right;
  /* background-color: aquamarine; */
}

/*
회원 선택
*/
.btn {
  width: 900px;
  display: flex;
  justify-content: center;
  border: none;
  margin: 200px auto 0 auto;

  text-align: center;
  float: left;
  /* padding: 40px 20px; */
}

label {
  vertical-align: middle;
  width: fit-content;
  text-align: center;
  margin-right: 20px;
}

input[type="radio" i] {
  vertical-align: middle;
  appearance: none;
  border: max(1px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  transition: border 0.3s ease-in-out;
  float: left;
}

[type="radio"]:checked {
  border: 2px solid rgba(17, 21, 226, 0.918);
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.mem {
  vertical-align: middle;
  float: right;
  margin-left: 5px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

/*
loginform
*/
#personal {
  width: 850px;
  margin: 0 auto;
  margin-top: 70px;
}
#business {
  width: 850px;
  margin: 0 auto;
  margin-top: 70px;
}
#admin {
  width: 850px;
  margin: 0 auto;
  margin-top: 70px;
}

.login_form {
  width: 700px;
  margin-top: 300px;
}

li {
  height: 50px;
}

/* li > span {
  width: 200px;
} */

.index_en {
  font-size: 17px;
  font-weight: 600;
  color: rgb(115, 115, 115);
  font-family: "Nunito Sans", sans-serif;
}

/*
----------------------------------
    input
----------------------------------
*/
input {
  width: 600px;
  height: 30px;
  float: right;
  border: none;
  background-color: rgba(240, 248, 255, 0);
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  color: rgb(40, 40, 40);
  font-family: "Noto Sans KR", sans-serif;
}

input:focus {
  outline: none;
}

.mem,
input {
  vertical-align: middle;
}

input[type="submit" i] {
  appearance: auto;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  color: buttontext;
  padding: 1px 6px;
  border-width: 0;
  border-style: none;
  border-color: buttonborder;
  border-image: initial;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  cursor: pointer;
  width: 200px;
}

/* input[type="submit" i]:hover {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px;
} */
