*,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:visited {
  color: black;
}

/*
----------------------------------
	스크롤 숨기기
----------------------------------
*/
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
/* 	height: 200vh;  */
	height: calc(7vh + 92vh + 1350px + 8vh); 

}


/*
----------------------------------
    main
----------------------------------
*/
main {
	width: 100%;
	height: 92vh;
}


.main_wrap {
  width: 1200px;
  height: 92vh;
  margin: 0 auto;
  align-content: center;
/*   border-bottom: 1px solid rgb(200, 200, 200); */
}

#alone {
	padding-top: 20px;
  float: right;
  margin: 15px 0 10px 0;
  font-size: 45px;
  /* font-weight: 800; */
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Ramabhadra", sans-serif;
}

main > img {
  margin: 0 auto;
  width: 1200px;
  height: auto;
}


/*
----------------------------------
    article
----------------------------------
*/

article {
	position: relative;
	width:1200px;
	height: 1350px;
	margin: 0 auto;
	top: 10vh;
}

.article_wrap {
  width: 1200px;
  height: 400px;
  margin: 0 auto;

}

.footer {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	margin-top: 80px;
	bottom: 0;
}


