*,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:visited {
  color: black;
}

/*
----------------------------------
	스크롤 숨기기
----------------------------------
*/
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
	height:inherit; 

}


/*
----------------------------------
    main
----------------------------------
*/
.main_wrap {
  width: 1200px;
  height: 88vh;
  margin: 0 auto;
  align-content: center;
}

#alone {
  float: right;
  margin: 15px 0 10px 0;
  font-size: 45px;
  /* font-weight: 800; */
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Ramabhadra", sans-serif;
}

main > img {
  margin: 0 auto;
  width: 1200px;
  height: auto;
}


/*
----------------------------------
    article ㅅ
----------------------------------
*/

article {
	position: relative;
	width:1200px;
	height: 100vh;
	margin: 0 auto;
	top: 50vh;
}

.article_wrap {
  width: 1200px;
  height: 400px;
  margin: 0 auto;

}



